* {
  font-family: 'Averia Serif Libre', cursive !important;
}

body {
  background: url('../images/toav.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.logo {
  opacity: 0.3;
}
/* Burger menue */
.b-a, .bar, .bar:before, .bar:after {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(255, 51, 0, 0.822);
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 24px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
  transition: all .25s;
  top: -0px;
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 110px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 157, 196, 0.678);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all .15s;
  text-decoration: none;
  font-size: 2em;
  padding: 5px;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all .25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.row {
  padding-top: 120px;
}

